body {
    font-family: verdana, sans-serif;
}

.container {
    width: 300px;
    margin: 30px auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input {
    margin-bottom: 15px;
}